.tab1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
.tab2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(101, 98, 98);
    font-size: small;
}
li {
    float: left;
}
a {
    display: block;
    width: 60px;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(62, 60, 60);
}
.active {
    color:rgb(2, 255, 195);
}
.dot{
    background-color: red;
    color:white;
}
.logo{
    color:white;
    vertical-align:text-top;
    font-family: "仿宋";
}