
.logo {
    text-transform: uppercase;
    font-size: var(--size-5);
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: var(--color-grey-50);
  }

  
  /*设置图片并排*/
/*
  .images div {
    margin-left: 1.5rem;
    margin-right: 1rem;
    width: auto;
  }
*/

  @media (min-width: 768px) {
    .logo {
      font-size: var(--size-6);
    }
  }
